In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load CSV file
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

# Check first few rows
print(df.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [3]:
# Shape and column details
print("Shape:", df.shape)
print(df.info())

# Summary statistics
print(df.describe(include="all"))

Shape: (1470, 35)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None
                Age Attrition BusinessTravel    DailyRate  \
count   1470.000000      1470           1470  1470.000000
unique          NaN         2              3          NaN
top             NaN        No  Travel_Rarely          NaN
freq            NaN      1233           1043          NaN
mean      36.923810       NaN            NaN   802.485714
std        9.135373       NaN            NaN   403.509100
min       18.000000       NaN            NaN   102.000000
25%       30.000000       NaN            NaN   465.000000
50%       36.000000       NaN            NaN   802.000000
75%       43.000000       NaN            NaN  1157.000000
max       60.000000       NaN            NaN  1499.000000

                    Department  DistanceFromHome    Education EducationField  \
count                     1470       1470.000000  1470.000000           1470
unique                       3               NaN          NaN              6
top     Research & Development               NaN          NaN  Life Sciences
freq                       961               NaN          NaN            606
mean                       NaN          9.192517     2.912925            NaN
std                        NaN          8.106864     1.024165            NaN
min                        NaN          1.000000     1.000000            NaN
25%                        NaN          2.000000     2.000000            NaN
50%                        NaN          7.000000     3.000000            NaN
75%                        NaN         14.000000     4.000000            NaN
max                        NaN         29.000000     5.000000            NaN

        EmployeeCount  EmployeeNumber  ...  RelationshipSatisfaction  \
count          1470.0     1470.000000  ...               1470.000000
unique            NaN             NaN  ...                       NaN
top               NaN             NaN  ...                       NaN
freq              NaN             NaN  ...                       NaN
mean              1.0     1024.865306  ...                  2.712245
std               0.0      602.024335  ...                  1.081209
min               1.0        1.000000  ...                  1.000000
25%               1.0      491.250000  ...                  2.000000
50%               1.0     1020.500000  ...                  3.000000
75%               1.0     1555.750000  ...                  4.000000
max               1.0     2068.000000  ...                  4.000000

       StandardHours  StockOptionLevel  TotalWorkingYears  \
count         1470.0       1470.000000        1470.000000
unique           NaN               NaN                NaN
top              NaN               NaN                NaN
freq             NaN               NaN                NaN
mean            80.0          0.793878          11.279592
std              0.0          0.852077           7.780782
min             80.0          0.000000           0.000000
25%             80.0          0.000000           6.000000
50%             80.0          1.000000          10.000000
75%             80.0          1.000000          15.000000
max             80.0          3.000000          40.000000

        TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
count             1470.000000     1470.000000     1470.000000
unique                    NaN             NaN             NaN
top                       NaN             NaN             NaN
freq                      NaN             NaN             NaN
mean                 2.799320        2.761224        7.008163
std                  1.289271        0.706476        6.126525
min                  0.000000        1.000000        0.000000
25%                  2.000000        2.000000        3.000000
50%                  3.000000        3.000000        5.000000
75%                  3.000000        3.000000        9.000000
max                  6.000000        4.000000       40.000000

       YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
count         1470.000000              1470.000000           1470.000000
unique                NaN                      NaN                   NaN
top                   NaN                      NaN                   NaN
freq                  NaN                      NaN                   NaN
mean             4.229252                 2.187755              4.123129
std              3.623137                 3.222430              3.568136
min              0.000000                 0.000000              0.000000
25%              2.000000                 0.000000              2.000000
50%              3.000000                 1.000000              3.000000
75%              7.000000                 3.000000              7.000000
max             18.000000                15.000000             17.000000

[11 rows x 35 columns]

In [4]:
# Missing values
print(df.isnull().sum())

# Duplicates
print("Duplicates:", df.duplicated().sum())

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
Duplicates: 0

In [5]:
df.rename(columns={
    "JobRole": "Job_Role",
    "MonthlyIncome": "Monthly_Income",
    "YearsAtCompany": "Years_At_Company",
    "OverTime": "Over_Time"
}, inplace=True)

In [6]:
# Save initial cleaned file
df.to_csv("cleaned_hr_attrition.csv", index=False)